nav.breadcumb-container {
    display: inline-block;
}

.breadcrumb {
    background-color:inherit;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.status-bar {
    border-bottom: 1px solid #e1e4e8;
}