<%= contentFor("status-bar"){ %>
  <%= partial("/partials/header.plush.html", {
    title: "Editing "+ resource.TitleSingular,
    actions: [],
    breadcrumbItems: [
      {label: "Admin", path: "/admin"},
      {label: resource.TitlePlural, path: resource.Paths.List()},
      {label: "Edit "+ resource.TitleSingular, path: ""}
    ]
  }) %>
<% } %>

<%= formFor(element, {action: resource.Paths.Update(element.ID), method: "PUT"}) { %>
  <div class="row"> 
    <div class="col-9">
      <%= partial("resource/form.plush.html") %>
    </div>
    <div class="col-3">
        <%= partial("resource/summary.plush.html") %>
    </div>
  </div>
<% } %>
