<%= contentFor("status-bar"){ %>
  <%= partial("/partials/header.plush.html", {
    title: "New "+ resource.TitleSingular,
    actions: [],
    breadcrumbItems: [
      {label: "Admin", path: "#"},
      {label: resource.TitlePlural, path: resource.Paths.List()},
      {label: "New " + resource.TitleSingular , path: ""}
    ]
  }) %>
<% } %>

<%= formFor(element, {action: resource.Paths.Create(),  method: "POST"}) { %>
  <div class="row"> 
      <div class="col-9">
        <%= partial("resource/form.html") %>
      </div>
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                Fill in the form with the data needed to create a new <%= resource.TitleSingular %>.
              </div>
          </div>
      </div>
    </div>
<% } %>