
<%= for (_, field) in resource.Fielder.FormFields() { %>
    <div class="form-group row">
        <label for="<%= field.Name() %>" class="col-sm-2 col-form-label"><%= field.Name() %></label>
        <div class="col-sm-10">
            <%= resource.Fielder.FieldFor(element, field, f) %>
        </div>
    </div>
<% } %>

<div class="float-right">
    <%= linkTo( resource.Paths.List(), {class: "btn btn-dark", "data-confirm": "Are you sure?", body: "Cancel"}) %>
    <button class="btn btn-outline-primary" role="submit">Save</button>
</div>

   