<% contentFor("status-bar"){ %>
    <%= partial("/partials/header.plush.html", {
        title: resource.TitlePlural,
        actions: [
            {label: "New "+resource.TitleSingular, path: resource.Paths.New(), options: {class: "btn btn-outline-primary float-right"}}
        ],
        breadcrumbItems: [
            {label: "Admin", path: "/admin"},
            {label: resource.TitlePlural, path: resource.Paths.List()}
        ]
    }) %>
<% } %>

<div class="row mb-3">
    <div class="col"></div>
    <div class="col">
        <div class="float-right">
            <!-- TODO: Implement this one -->
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text" name="search" class="form-control search" placeholder="Keywords">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover admin-table">
    <thead>
        <th></th>
            <%= for (_, field) in resource.Fielder.TableFields() { %>
                <th>
                    <span class="mr-2">
                        <%= resource.Fielder.TableHeaderNameFor(field) %> 
                    </span>
                    <span>
                        <% 
                            let sortClass = "fa-sort" 
                            let sortOrder = "asc"

                            if (params["sortBy"] == field.Name()) { 
                                sortClass = "fa-sort-up"    
                                sortOrder = "desc"

                                if (params["order"] == "desc") {
                                    sortClass = "fa-sort-down"
                                    sortOrder = "asc"
                                }
                            } 
                        %>

                        <a href="<%= pathWith({sortBy: field.Name(), order: sortOrder}) %>">
                            <i class="fa <%= sortClass %>"></i>
                        </a>
                    </span>
                </th>
            <% } %>
        <th></th>
    </thead>
    <tbody>
        <%= for (_, element) in elements { %>
            <tr>
                <td>
                    
                </td>
                <%= for (index, field) in resource.Fielder.TableFields() { %>
                    <td>
                        <%= if (index == 0) { %>
                            <a href="<%= resource.Paths.Show(element.ID) %>">
                                <%= resource.Fielder.ValueFor(element, field) %>
                            </a>
                        <% } else {%>
                            <%= resource.Fielder.ValueFor(element, field) %>
                        <% } %>
                    </td>
                <% } %>

                <td>
                    <div class="float-right">
                        <%= linkTo(resource.Paths.Edit(element.ID), {class: "btn btn-outline-secondary btn-sm", body: "Edit"}) %>
                        <%= linkTo(resource.Paths.Delete(element.ID), {class: "btn btn-outline-secondary btn-sm", body: "Delete", "data-method": "DELETE",  "data-confirm": "Are you sure?"}) %>
                    </div>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
<div class="float-left">
    <span class="small"> 
        Total <%= pagination.TotalEntriesSize %> <%= resource.TitlePlural %> | Export as 
        <a href="<%= resource.Paths.Export("xml") %>">XML</a>
        <a href="<%= resource.Paths.Export("csv") %>">CSV</a>
        <a href="<%= resource.Paths.Export("json") %>">JSON</a>
    </span>
</div>
<div class="float-right">
    <%= paginator(pagination) %>
</div>
